@use '../../../../../styles/mixins.scss';
@import '../../../../../styles/colors.scss';

.ctn{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // width: 500px;
    gap: 30px   ;
}

.text{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
}

.successCtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 40px;
  color: $color-white;
  font-family: 'Inter';
  flex-direction: column;
  padding-bottom: 15px;
  text-align: center;
}

.successIcon{
  width: 90px;
  height: 90px;
  svg {
      width: 100%;
      height: 100%;
      path{
          fill: greenyellow;
      }
  }
}

.signUpCtn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.subHeaderText{
    font-family: 'Inter';
    font-size: 14px;
    text-align: left;
    color: rgba(255, 255, 255, 0.41);
    margin-bottom: 30px;
}

.textareaWrapper{
    width: 100%;
}

.signUpText{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: white;
}

.formButton {
  background: linear-gradient(93.21deg, #850AD6 22.67%, #D14FA9 115.84%);
  box-shadow: 0px 0px 5.6px 0px rgba(0, 0, 0, 0.25);
  padding: 18px 60px;
  max-width: 300px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 14px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;

  &:hover{
      transform: scale(1.025);
      // box-shadow: 0px 0px 15px rgba(209, 79, 169, 0.8);
      background: linear-gradient(93.21deg, #D14FA9 22.67%, #850AD6 115.84%);
  }

  &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300%;
      height: 300%;
      background: radial-gradient(circle, rgba(209, 79, 169, 0.3) 10%, transparent 50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
  }

  &:hover::after {
      opacity: 1;
  }

  span {
      position: relative;
      z-index: 1; // Keeps text above the gradient effect
  }
}

.inputsCtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.inputData{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.label{
    font-family: 'Inter';
    font-size: 15px;
    color: #fff;
}

.inputArea{
    width: 100%;
    padding: 18px 15px;
    background: rgba(160, 160, 160, 0.29);
    outline: none;
    border-radius: 14px;
    font-size: 15px;
    border: none;
    color: #fff;

    &::placeholder, 
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::-o-placeholder {
        color: rgba(255, 255, 255, 0.41);
        font-family: 'Inter';
    }
}

.warningText{
    display: block;
    z-index: 100;
    font-family: 'Inter';
    font-size: 12px;
    color: #FF0000;
}
.submitApplicationBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: ease-in 0.25s;
    position: relative;
  
    &:hover {
      p::after {
        width: 100%;
      }
  
      img {
        transform: translateX(5px);
      }
    }
  
    p {
      font-family: 'Inter';
      font-size: 16px;
      color: #FAFAFA;
      position: relative;
  
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 1px;
        background-color: #FAFAFA;
        width: 0;
        transition: width 0.3s ease;
      }
    }
  
    img {
      width: 25px;
      height: auto;
      transition: transform 0.3s ease;
    }
  }