$color-pink: #F72585;
$color-magenta: #B5179E;
$color-purple: #850AD6;
$color-deep-purple: #560BAD;
$color-indigo: #480CA8;
$color-dark-indigo: #3A0CA3;
$color-midnight-violet: rgba(35, 18, 63, 1);
$color-blue: #3F37C9;
$color-light-blue: #4361EE;
$color-sky-blue: #4895EF;
$color-cyan: #4CC9F0;
$color-white: #fff;
$color-green: rgba(1, 181, 116, 1);
