@font-face {
    font-family: 'Inter';
    src: url('../../public/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Afacad';
    src: url('../../public/fonts/AfacadRegular.woff') format('woff'),
    url('../../public//fonts/AfacadRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Afacad Medium';
    src: url('../../public/fonts/AfacadMedium.woff') format('woff'),
    url('../../public//fonts/AfacadMedium.woff2') format('woff2');
}

@font-face {
    font-family: 'Akatab';
    src: url('../../public/fonts/Akatab-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Akatab Bold';
    src: url('../../public/fonts/Akatab-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Panton';
    src: url('../../public/fonts/PantonNarrow-Trial-Black.woff') format('woff'),
    url('../../public//fonts/PantonNarrow-Trial-Black.woff2') format('woff2');
}

