
@import "./mixins.scss";
@import "./colors.scss";
@import "./fonts.scss";

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




a{
    text-decoration: none;
    color: $color-white;
}

