@use "../../styles/mixins.scss";

.headerText{
    @include mixins.headerText;
}

.container{
    background-image: url('../../assets/about-us/bg.png');
    background-size: 100vw auto; 
    background-position: center center; 
    background-repeat: no-repeat; 
    width: 100%;
}

.ctn{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 200px;
}

.textContent{
    @include mixins.textStyling;
    max-width: 774px;
    margin: 0 auto;
    text-align: center;
    padding-top: 71px;
}

.achievenements{
    padding-top: 70px;
}

.achievmentsCtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 71px;
}

.coreValues{
    padding-top: 70px;
}