.selectInput {
    width: 100%;
    // display: flex;
    // justify-content: flex-start;
    // align-items: flex-start;
    // flex-direction: column;
    // gap: 5px;
}

.selectPlaceholder {
    width: 100%;
    background: rgba(160, 160, 160, 0.29);
    border-radius: 14px;
    padding: 18px 15px;
    font-size: 15px;
    color: #fff;
    font-family: 'Inter';
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;

    .arrow {
        transition: transform 0.3s ease; /* Ensure smooth rotation */
        cursor: pointer;

        &.rotated {
            transform: rotate(180deg); /* Rotate by 180 degrees when open */
        }
    }

    &.opened {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    }
}

.optionsCtn {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out; /* Smooth transition on height change */

    &.open {
        max-height: 500px; /* Adjust this value based on the number of options */
    }
}
.selectOption {
    width: 100%;
    background: rgba(160, 160, 160, 0.29);
    padding: 18px 15px;
    font-size: 15px;
    color: #fff;
    font-family: 'Inter';
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    position: relative;
    z-index: 1;
    border: none;
    transition: transform 0.3s ease; 
    cursor: pointer;

    transform: translateY(0); 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid rgba(217, 217, 217, 0.5);

    &:hover{
        background: rgba(217, 217, 217, 0.5);
    }
    
    &:last-child {
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        border-bottom: 0;
    }
}



.selectPlaceholderDisabled{
    width: 100%;
    background: rgba(88, 88, 88, 0.29);
    box-shadow: 0px 2px 6.1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 18px 15px;
    font-size: 15px;color: #888; 
    font-family: 'Inter';
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 19px;
        height: auto;
    }
}